.req-text {
  color: red;
  font-weight: bold;
}

.field-code {
  display: none;
}

.field-label-text {
  display: contents;
  font-weight: 700;
}

.field {
  display: flex;
}

.field li {
  display: block;
}

.field .field-label {
  display: block;
  width: 150px;
  text-align: right;
  margin-right: 5px;
}

.field .field-content {
  display: block;
  margin-left: 5px;
}

button {
    width: 120px;
    height: 50px;
    border: 1px solid #9cf;
    background: #dff;
    border-radius: 15px;
    margin-left: 50px;
}

button:hover {
    /* color:#f00; */
    /* border: 1px solid #f99; */
    /* background: #fdd; */
    cursor: pointer;
}

.hide{
  display: none;
}